*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}
.nav1{
    background-color: white;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
}
 #top_nav{
    display: flex;
    background-color: white;
    box-shadow: 0px 2px 5px gray;
    padding: 10px;
}

.left{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
}

#right{
    background-color: white;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 40px;
}

.logo{
    width: 40px;
}

.others{
    color: black;
    font-weight: bold;
}

#bag{
    color: green;
}

#arrow{
    color: orangered;
}

.main_body{
    width: 80vw;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 20px;
}

#right_nav2{
    width: 100%;
    justify-content: right;
    align-items: center;
    gap:20px;
    font-weight: 300;
    
}

#filter_container{
    border-bottom: 1px solid gray;
    padding-bottom: 5px; 
}

.card_container{
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 20px;
    margin-top: 50px;
}

.card_container .rating{
    display: flex;
    justify-content: space-around;
    font-size: 10px;
    font-weight: 200;
     
}

.rating .rate{
    display: flex;
    align-items: center;
    background-color: orange;
    color: white;
    font-size: 10px;
    padding: 2px 4px;
    gap: 5px;

}
.card-text{
    font-weight:100;
    font-size: 12px;
}
.stars{
    font-size: 10px!important;
}

.card_container .offer-container{
    display: flex;
    color: #c0653e;
    justify-content: center;
    align-content: center;
    font-size: 12px;
    gap: 5px;
}
.card{
    border: none;
    padding: 5px;
}
.card:hover{
    border: 0.5px solid grey;
}

.status{
    position: absolute;
    background-color: rgb(58, 60, 65);
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    padding: 5px 9px 4px;
    top: 10px;
    left: -1px;
    border-color: rgb(30, 32, 35) transparent;
}
.status::before{
    position: absolute;
    bottom: -11px;
    content: '';
    border-width: 12px 0 0 12px;
    border-color: inherit;
    border-style: solid;
    left: 0px;
}

.card_container .btn{
    display: block;
    border: none;
    font-size: 12px;
    font-weight: bold;
    margin: auto;
    color: blue;
    visibility: hidden;
}

.card:hover .btn{
    visibility: visible;
}

.footer{
    background-color: black;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 100px;
    font-weight: 200;
    font-size: 14px;
}

.footer > div{
    display: flex;
    flex-flow: column wrap;
    gap: 15px;
}

.footer > div > h5{
    color: gray;
    margin: 10px 0px;
}
.footer > div > a {
    color: whitesmoke;
    text-decoration: none;
}

.footer img{
    width: 200px;
    transition-duration: 0.5s;
}

.store_img{
    align-items: center;
    justify-content: center;
    gap: 50px !important;
}

.footer img:hover{
    width: 220px;
}

.footer > div > a:hover{
    font-weight: bold;
}


@media (max-width: 1000px) {
    .card_container{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2,auto);
        gap: 50px;
        margin-top: 50px;
    } 

    .nav_top{
        width: 200px !important;
        position: absolute;
        right:0;
        top: 78px;

    }
    .main_body #right_nav2{
        display: flex;
        flex-direction: row;
        gap:0px;
        justify-content: space-between;
        font-size: 14px;
    }

    .footer{
        background-color: black;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 100px;
        font-weight: 200;
        font-size: 14px;
        justify-items: center;
    }

    .store_img{
        align-items: center;
        justify-content: start;
        gap: 50px !important;
    }

    .footer > div > h5{
       margin-top: 20px;
    }

}

@media (max-width: 600px){
    .nav1{
        font-size: 12px;
        padding: 5px;
        margin: 0px;
    }
    #top_nav{
        padding: 0px !important;
        margin: 0px !important;
    }
    .container-fluid{
        padding: 0px !important;
        margin: 0px !important;  
    }
    .left{
        margin: 0px;
       padding: 0px;
    }
    
    .logo{
        width: 20px;
    }
    .card_container{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(1,auto);
        gap: 50px;
        margin-top: 50px;
    } 

    .main_body{
        width: 95vw;
        margin: auto;
        margin-top: 100px;
    }
    .main_body #right_nav2{
        display: flex;
        flex-direction: row;
        gap:0px;
        justify-content: space-between;
        font-size: 10px;
    }
    .card{
        width: 100% !important;
    }

    .footer{
        background-color: black;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 100px;
        font-weight: 200;
        font-size: 12px;
        justify-items: center;
        align-content: center;
        gap: 10px;
    }

    .store_img{
        align-items: center;
        justify-content: center;
        gap: 10px !important;
    }

    .footer > div {
        justify-content: center;
        align-items: center;
    }

    .footer img{
        width: 120px;
        transition-duration: 0.5s;
    }

    .footer img:hover{
        width: 150px;
    }
}